.out {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 200px;
    border: 1px solid black;
    height: 500px;
    overflow: scroll;
}

.box::-webkit-scrollbar {
    display: none;
}

.line {
    height: 32px;
    border: 1px solid;
    background-color: antiquewhite;
    margin: 5px;
    font-size: 16px;
    border-color: black;
    border-radius: 5px;
}

.line:hover {
    border-color: blue;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
}