<div class="out">
    <div class="box">
        <div *ngFor="let item of getAClass" class="line" (click)="selectAClass($event)">
            <span style="display: inline-block;width: 25%;">{{ item.A_id }}</span>
            <span style="display: inline-block;width: 72%;">{{ item.A_name }}</span>
        </div>
    </div>
    <div class="box">
        <div *ngFor="let item of getBClass" class="line" (click)="selectBClass($event)">
            <span style="display: inline-block;width: 25%;">{{ item.B_id }}</span>
            <span style="display: inline-block;width: 72%;">{{ item.B_name }}</span>
        </div>
    </div>
    <div class="box">
        <div *ngFor="let item of getCClass" class="line" (click)="selectCClass($event)">
            <span style="display: inline-block;width: 25%;">{{ item.C_id }}</span>
            <span style="display: inline-block;width: 72%;">{{ item.C_name }}</span>
        </div>
    </div>
    <div class="box">
        <div *ngFor="let item of getTitle" class="line" (click)="selectT($event)">
            <span style="display: inline-block;width: 25%;">{{ item.Title_id }}</span>
            <span style="display: inline-block;width: 72%;">{{ item.title }}</span>
        </div>
    </div>
</div>

<hr />
<hr />
<div class="out">
     
            <nz-form-item class="box2">
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >A类名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.AName"   />
                    </nz-form-control>
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >A类ID</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.AId"   />
                    </nz-form-control>
            </nz-form-item>
            <nz-form-item class="box2"  >
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >B类名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.BName"   />
                    </nz-form-control>
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >B类ID</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.BId"   />
                    </nz-form-control>
            </nz-form-item>
            <nz-form-item class="box2" >
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >C类名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.CName"   />
                    </nz-form-control>
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >C类ID</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.CId"   />
                    </nz-form-control>
            </nz-form-item>
            <nz-form-item  class="box2">
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >题目名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.TName"   />
                    </nz-form-control>
                    <nz-form-label [nzSm]="6" [nzXs]="24"    >题目ID</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input    [(ngModel)]="obj.TId"   />
                    </nz-form-control>
            </nz-form-item>
    
    <div class="box2">
        <nz-radio-group [(ngModel)]="obj.type">
            <label nz-radio nzValue="M">添加</label>
            <label nz-radio nzValue="N">修改</label>
            <label nz-radio nzValue="G">删除</label>
        </nz-radio-group>
        <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio nzValue="A">A类</label>
            <label nz-radio nzValue="B">B类</label>
            <label nz-radio nzValue="C">C类</label>
            <label nz-radio nzValue="D">题目</label>
        </nz-radio-group>
        <button (click)='submit()'>提交</button>
    </div>
</div>