<div class="out">
    <div class="box">
        <div *ngFor="let item of getAClass" class="line" (click)="selectAClass($event)">
            <span style="display: inline-block;width: 48%;">{{ item.A_id }}</span>
            <span style="display: inline-block;width: 48%;">{{ item.A_name }}</span>
        </div>
    </div>
    <div class="box">
        <div *ngFor="let item of getBClass" class="line" (click)="selectBClass($event)">
            <span style="display: inline-block;width: 48%;">{{ item.B_id }}</span>
            <span style="display: inline-block;width: 48%;">{{ item.B_name }}</span>
        </div>
    </div>
    <div class="box">
        <div *ngFor="let item of getCClass" class="line" (click)="selectCClass($event)">
            <span style="display: inline-block;width: 48%;">{{ item.C_id }}</span>
            <span style="display: inline-block;width: 48%;">{{ item.C_name }}</span>
        </div>
    </div>
    <div class="box">
        <div *ngFor="let item of getTitle" class="line" (click)="selectT($event)">
            <span style="display: inline-block;width: 48%;">{{ item.Title_id }}</span>
            <span style="display: inline-block;width: 48%;">{{ item.title }}</span>
        </div>
    </div>
</div>

<hr />
<hr />
<div class="out">
    <div>

        <div><input nz-input [(ngModel)]="obj.AName" placeholder="输入A类名称"><input nz-input [(ngModel)]="obj.AId" placeholder="输入A类Id"></div>
        <div><input nz-input [(ngModel)]="obj.BName" placeholder="输入B类名称"><input nz-input [(ngModel)]="obj.BId" placeholder="输入B类Id"></div>
        <div><input nz-input [(ngModel)]="obj.CName" placeholder="输入C类名称"><input nz-input [(ngModel)]="obj.CId" placeholder="输入C类Id"></div>
        <div><input nz-input [(ngModel)]="obj.TName" placeholder="输入标题名称"><input nz-input [(ngModel)]="obj.TId" placeholder="输入标题Id"></div>
    </div>
    <div>
        <button nz-button nzType="primary" (click)=add()>添加</button>
        <button nz-button nzType="primary">修改</button>
        <button nz-button nzType="primary">删除</button>
        <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio nzValue="A">A类</label>
            <label nz-radio nzValue="B">B类</label>
            <label nz-radio nzValue="C">C类</label>
            <label nz-radio nzValue="D">题目</label>
        </nz-radio-group>
    </div>
</div>