<div class="center">
        <button nz-button (click)="yiji()"><i nz-icon nzType="search"></i>一级单位的备案情况</button>
        <button style="margin:0 30px;" nz-button (click)="erji()"><i nz-icon nzType="search"></i>二级单位备案情况</button>
    </div>
    
    <div style="margin-top:30px" *ngIf="showTable">
        <nz-table #myFile nzShowSizeChanger [nzBordered]='true' [nzLoading]='isLoading' [nzData]="MessageInfo">
            <thead>
                <tr>
                    <th>单位名称</th>
                    <th>产品名称</th>
                    <th>级别</th>
                    <th>开始日期</th>
                    <th>申请日期</th>
                    <th>合同价格</th>
                    <th>中标价格</th>
                    <th>折扣</th>
                    <th>配送点数</th>
                    <th>
                        备注
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of myFile.data;let i = index">
                    <td>{{ data.clientname }}</td>
                    <td>{{ data.cpname }}</td>
                    <td>{{ data.JB }}</td>
                    <td>{{ data.FromNY.replace('T00:00:00','') }}</td>
                    <td>{{ data.SQRQ }}</td>
                    <td>{{ data.PriceHT }}</td>
                    <td>{{ data.PriceZB }}</td>
                    <td>{{ data.PriceZK }}%</td>
                    <td>{{ data.PSDS }}%</td>
                    <td>{{ data.Memo }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    
    <div style="margin-top:30px" *ngIf="showTableB">
        <nz-table #myFile nzShowSizeChanger [nzBordered]='true' [nzLoading]='isLoading' [nzData]="MessageInfoB">
            <thead>
                <tr>
                    <th>单位名称</th>
                    <th>产品名称</th>
                    <th>级别</th>
                    <th>开始日期</th>
                    <th>申请日期</th>
                    <th>结算价格</th>
                    <th>中标价格</th>
                    <th>折扣价格</th>
                    <th>供货价格</th>
                    <th>二次折扣</th>
                    <th>
                        备注
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of myFile.data;let i = index">
                    <td>{{ data.clientname }}</td>
                    <td>{{ data.cpname }}</td>
                    <td>{{ data.JB }}</td>
                    <td>{{ data.FromNY.replace('T00:00:00','') }}</td>
                    <td>{{ data.SQRQ }}</td>
                    <td>{{ data.PriceJS }}</td>
                    <td>{{ data.PriceZB }}</td>
                    <td>{{ data.PriceZK }}</td>
                    <td>{{ data.PriceGH }}</td>
                    <td>{{ data.ECZK }}</td>
                    <td>{{ data.Memo }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
