<header class="mui-bar mui-bar-nav fixed">
  <a class="mui-icon mui-icon-left-nav mui-pull-left" (click)="goto()"></a>
  <span class="mui-title">单位备案</span>
</header>
<div class="mui-content">

  <button type="button" (click)="yiji()" class="mui-btn mui-btn-primary mui-btn-block mui-icon  mui-right">
    一级单位备案情况
  </button>
  <br>
  <button (click)="erji()" type="button" class="mui-btn mui-btn-block mui-btn-danger mui-icon  mui-right">
    二级单位备案情况
  </button>

  <div *ngIf="dataNull" class="mui-button-row">
    无数据返回
  </div>
  <div *ngIf="showTable">
    <div class="mui-card" *ngFor="let data of  MessageInfo">
      <div class="mui-card-content">
        <ul class="mui-table-view">
          <li class="mui-table-view-cell">单位名称 ：<span>{{ data.clientname}}}</span></li>
          <li class="mui-table-view-cell">产品名称 ：<span>{{data.cpname}}</span></li>
          <li class="mui-table-view-cell">级别 ：<span>{{data.JB}}}</span></li>
          <li class="mui-table-view-cell">开始日期：<span>{{ data.FromNY.replace('T00:00:00','')}}</span></li>
          <li class="mui-table-view-cell">申请日期 ：<span>{{data.SQRQ}}}</span></li>
          <li class="mui-table-view-cell">合同价格 ：<span>{{data.PriceHT}}</span></li>
          <li class="mui-table-view-cell">中标价格 ：<span>{{data.PriceZB}}}</span></li>
          <li class="mui-table-view-cell">折扣：<span>{{data.PriceZK}}%</span></li>
          <li class="mui-table-view-cell">配送点数 ：<span>{{data.PSDS}}%</span></li>
          <li class="mui-table-view-cell">备注 ：<span>{{data.Memo}}}</span></li>

        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="showTableB">
  <div class="mui-card" *ngFor="let data of  MessageInfoB" >
    <div class="mui-card-content">
      <ul class="mui-table-view">
        <li class="mui-table-view-cell">单位名称 ：<span>{{ data.clientname}}}</span></li>
        <li class="mui-table-view-cell">产品名称 ：<span>{{data.cpname}}</span></li>
        <li class="mui-table-view-cell">级别 ：<span>{{data.JB}}}</span></li>
        <li class="mui-table-view-cell">开始日期：<span>{{ data.FromNY.replace('T00:00:00','')}}</span></li>
        <li class="mui-table-view-cell">申请日期 ：<span>{{data.SQRQ}}}</span></li>
        <li class="mui-table-view-cell">结算价格 ：<span>{{data.PriceJS}}</span></li>
        <li class="mui-table-view-cell">中标价格 ：<span>{{data.PriceZB}}}</span></li>
        <li class="mui-table-view-cell">折扣价格：<span>{{data.PriceZK}}</span></li>
        <li class="mui-table-view-cell">供货价格 ：<span>{{data.PriceGH}}</span></li>
        <li class="mui-table-view-cell">二次折扣 ：<span>{{data.ECZK}}}</span></li>
        <li class="mui-table-view-cell">备注 ：<span>{{data.Memo}}}</span></li>
      </ul>
    </div>
  </div>
</div>
</div>
