<ng-container *ngIf="isPhone; then phone; else pc"></ng-container>
<ng-template #phone>
    <div class="mui-content">
        <ul class="mui-table-view mui-grid-view mui-grid-9">
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a [routerLink]="['/home/science/physics/quantum']">
                    <i class="iconfont">&#xe617;</i>
                    <div class="mui-media-body">音乐</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe63e;</i>
                    <div class="mui-media-body">笔记</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe614;</i>
                    <div class="mui-media-body">诗词</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe606;</i>
                    <div class="mui-media-body">观点</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe611;</i>
                    <div class="mui-media-body">文章</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe607;</i>
                    <div class="mui-media-body">心理学</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe60f;</i>
                    <div class="mui-media-body">英语</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe610;</i>
                    <div class="mui-media-body">生物</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                <a href="#">
                    <i class="iconfont">&#xe608;</i>
                    <div class="mui-media-body">经济</div>
                </a>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #pc>
    <nz-layout class="app-layout">
        <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzTheme="dark" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
            <nz-header>
                <div class="app-header">
                    <span class="header-trigger" (click)="leftclose()">
            <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>
                </div>
            </nz-header>
            <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
                <li nz-submenu nzOpen nzTitle="其他查询" nzIcon="dashboard">
                    <ul>
                        <li [routerLink]="['/home/edit']" nz-menu-item nzMatchRouter>
                            编辑文档
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试dier
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="测试" nzIcon="dashboard">
                    <ul>
                        <li nz-submenu nzOpen nzTitle="物理">
                            <ul>
                                <li [routerLink]="['/home/science/physics/quantum']" nz-menu-item nzMatchRouter>
                                    <!-- <a routerLink="/home/science/physics/quantum ">我的测试数据</a> -->
                                    我的测试数据
                                </li>
                                <li [routerLink]="['/home/science/physics/air']" nz-menu-item nzMatchRouter>
                                    <!-- <a routerLink="/home ">home</a> -->
                                    测试3
                                </li>
                                <li nz-menu-item nzMatchRouter>
                                    <!-- <a routerLink="/home ">home</a> -->
                                    测试3
                                </li>
                            </ul>
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试2
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试3
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="其他查询" nzIcon="dashboard">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试dier
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="其他查询" nzIcon="dashboard">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试dier
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="其他查询" nzIcon="dashboard">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试dier
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="其他查询" nzIcon="dashboard">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试dier
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzOpen nzTitle="其他查询" nzIcon="dashboard">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home">home</a> -->
                            测试第二
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <!-- <a routerLink="/home ">home</a> -->
                            测试dier
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout>
            <!-- <nz-content [ngStyle]="{ 'width':width+ 'px'} "> -->
            <nz-content>
                <router-outlet> </router-outlet>
            </nz-content>
        </nz-layout>
    </nz-layout>
</ng-template>