<nz-layout class="left-layout">
  <nz-sider style="height: 1000px;">
        <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          
        <li [routerLink]="[ '/pc/cxyscxp' ]" nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>促销预算查询 </span>
        </li>
        <li [routerLink]="[ '/pc/dwbap' ]" nz-menu-item>
          <i nz-icon nzType="video-camera"></i>
          <span>单位备案查询</span>
        </li>
        <li [routerLink]="[ '/pc/sydwcxp' ]" nz-menu-item>
          <i nz-icon nzType="upload"></i>
          <span>商业单位查询</span>
        </li>
      </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>


      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>copy@鲁南制药信息中心</nz-footer>
  </nz-layout>
</nz-layout>
