<!-- <link rel="stylesheet" href="assets/mui/css/mui.min.css" />
<link rel="stylesheet" href="assets/mui/css/icons-extra.css" />
<link rel="stylesheet" href="assets/mui/css/iconfont.css" />
<link rel="icon" type="image/x-icon" href="favicon.ico"> -->

<header class="mui-bar mui-bar-nav fixed">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" (click)="close()"></a>
    <span class="mui-title">商务查询</span>
</header>
<div class="mui-content">
    <div class="mui-content-padded">
        <ul id="iconlist" class="mui-table-view mui-grid-view">
            <li routerLink="/phone/sydwcx" class="mui-table-view-cell mui-col-xs-4 mui-col-sm-4 iconlist clip">
                <span class="mui-icon mui-icon-compose"></span>
                <div class="mui-media-body  font-size-12 ">商业单位查询</div>
            </li>
            <li routerLink="/phone/cxyscx" class="mui-table-view-cell mui-col-xs-4 mui-col-sm-4 iconlist clip">
                <span class="mui-icon mui-icon-starhalf"></span>
                <div class="mui-media-body">促销预算查询</div>
            </li>
            <li routerLink="/phone/dwba" class="mui-table-view-cell mui-col-xs-4 mui-col-sm-4 iconlist clip">
                <span class="mui-icon mui-icon-plusempty"></span>
                <div class="mui-media-body">单位备案查询</div>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
